@model OpenDoors.Models.Chapter

@{
  ViewBag.Title = Model.Story.Title;
  Layout = "~/Views/_LayoutPage.cshtml";
  Boolean IsFirstChapter = Model.Position == 0 || Model.Position == 1;
}

<h2>@Model.Title</h2>

<fieldset>

  <div class="form-group">
    <label for="property.PropertyName" style="width: 150px">Title:</label> @Html.DisplayFor(model => model.Story.Title)
  </div>

  @if (IsFirstChapter && TempData["config"] != null)
  {
    var config = (OpenDoors.Models.ArchiveConfig)TempData["config"];
    <div class="form-group">
      <label for="property.PropertyName" style="width: 150px">Note:</label><br />
      <div style="border: 1px silver solid;">
        @Html.Raw(config.ODNote)
        @if (!String.IsNullOrEmpty(Model.Story.Notes))
        {
          <br /><br /><span>Author's notes:</span> @Html.Raw(Model.Story.Notes)
        }
      </div>
    </div>
  }

  <div class="form-group">
    <label for="property.PropertyName" style="width: 150px">Summary:</label>
    @Html.DisplayFor(model => model.Story.Summary)
  </div>

  <div class="form-group">
    @if (IsFirstChapter && Model.Story.Date.HasValue || 
         (!IsFirstChapter && Model.Story.Date.HasValue && !Model.Story.Updated.HasValue))
    {
      // DON'T INDENT - THIS GETS SCRAPED
      <label for="property.PropertyName" style="width: 150px">Date:</label> @Html.DisplayFor(model => model.Story.Date)
    } else if (Model.Story.Updated.HasValue) {
      <label for="property.PropertyName" style="width: 150px">Date:</label> @Html.DisplayFor(model => model.Story.Updated)
    }
  </div>

  <div class="form-group">
    <label for="property.PropertyName" style="width: 150px">Chapter Title:</label> @Html.DisplayFor(model => model.Title)
  </div>

  <div class="form-group">
    <label for="property.PropertyName" style="width: 150px">Chapter Number:</label>
    @Html.DisplayFor(model => model.Position)
  </div>

  @if (Model.Date.HasValue)
  {
  <div class="form-group">
    <label for="property.PropertyName" style="width: 150px">Chapter posted</label> @Html.DisplayFor(model => model.Date)
  </div>
  }
</fieldset>

<div class="chapter-content" style="white-space: pre-line">
   @if(!Model.Notes.IsEmpty()) {
      <div class="form-group">
        <label for="property.PropertyName" style="width: 150px">Author's notes:</label> @Html.Raw(Model.Notes)
      </div>
      
      <hr />

    }
  @Html.Raw(Model.Text)
</div>


